#root {
  background: #e88d67;
  height: 100vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 232px;
}

.inside-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

input {
  padding: 0.5rem 1.25rem;
  width: 230px;
  border: 2px solid #7b8cde;
  border-radius: 40px;
  margin-bottom: 1rem;
}

button {
  background: #7b8cde;
  color: white;
  font-weight: 600;
  margin-top: 1.25rem;
  padding: 0.5rem 2rem;
  border: 2px solid #7b8cde;
  border-radius: 40px;
}

button:hover {
  cursor: pointer;
  background: #c0e6de;
  border: 2px solid #c0e6de;
  transition: ease-in 0.3s;
}

h2 {
  color: #fffcf2;
  text-align: center;
}
